body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.card {
  max-width: 285px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 15px hsl(217, 8%, 61%, 0.05);
  padding: 13px;
}

.card-img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
}

.card-title {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  text-align: center;
  padding: 25px 20px 20px 20px;
}

.card-detail {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding: 0 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
  padding-top: 50px;
}
