body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit";
  width: 1440px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
}

.container .qr-code {
  width: 250px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 50px;
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 210px;
  height: 200px;
  margin-top: 15px;
  border-radius: 10px;
}

.caption {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}

.caption h3 {
  font-weight: 700;
}

.caption p {
  color: rgba(117, 126, 134, 0.815);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 50px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
