* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

.container {
  margin-top: 5em;
}

main {
  display: flex;
  place-content: center;
  align-self: center;
}

.card {
  width: 90%;
  max-width: 320px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 15px hsl(217, 8%, 61%, 0.05);
  padding: 1em;
}

.card-img {
  max-width: 100%;
  border-radius: 10px;
}

.card h1 {
  font-weight: 900;
  font-size: 1.4rem;
  text-align: center;
  padding: 0 1em;
}

.card p {
  font-weight: 400;
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding: 0 1em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
  padding-top: 50px;
}
